.paragraph{
	color:yellow;
}

*{
	font-family: Hatton;
	font-size: 14px;
}

h1{
	font-size: 30px;	
}

#heading2{
	text-transform: uppercase;
}

.language{
	background-color: springgreen;
}

li[id]{
	border-width: 2px;
	border-style: solid;
	border-color: lightcoral;
}

img + ul {
	list-style: none;
}

section img{
	height: 75px;
	width: 75px;
	border-radius: 75px;
}

h4 ~ p{
	text-align: center;
}

ul > li{
	letter-spacing: 3px;
}

